<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script type="importmap">
      {
        "imports": {
          "dialog-polyfill": "https://cdn.skypack.dev/dialog-polyfill",
          "stimulus": "https://cdn.skypack.dev/stimulus",
          "@seanpdoyle/stimulus_aria_widgets": "<%= asset_url "stimulus_aria_widgets.js" %>",
          "wicg-inert": "https://cdn.skypack.dev/wicg-inert"
        }
      }
    </script>
    <script type="module">
      import "https://cdn.skypack.dev/@hotwired/turbo"
      import "https://cdn.skypack.dev/form-request-submit-polyfill"

      import {
        installPolyfills,
        ComboboxController,
        DialogController,
        DisclosureController,
        FeedController,
        TabsController,
        GridController,
      } from "@seanpdoyle/stimulus_aria_widgets"
      import { Application, Controller } from "stimulus"

      installPolyfills(document)

      const application = Application.start()
      application.register("combobox", ComboboxController)
      application.register("dialog", DialogController)
      application.register("disclosure", DisclosureController)
      application.register("feed", FeedController)
      application.register("tabs", TabsController)
      application.register("grid", GridController)
      application.register("form", class extends Controller {
        requestSubmit() { this.element.requestSubmit() }
      })
    </script>
    <script type="module" src="https://unpkg.com/es-module-shims@0.10.1/dist/es-module-shims.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
